# Naive bayes

Probabilidad condicional
La probabilidad de observar algún evento (digamos, X = i ) dado algún otro evento (digamos, Y = i )

Probabilidad posterior
La probabilidad de un resultado después de que se haya incorporado la información del predictor (en contraste con la probabilidad previa de resultados, sin tener en cuenta la información del predictor).

# The naive solution

1. Para una respuesta binaria, estimar las probabilidades condicionales individuales de cada predictor
2. Multiplicar esas probabilidades entre las demás probabilidades y luego por la proporción de los registros que pertenecen a la salida
3. Repetir pasos 1 y 2 por cada clase
4. Estimar la probabilidad para la salida: Tomamos el resultado del paso 2 y lo dividimos entre la suma de los valores de cada clase.
5. Asignaríamos cada registro a la clase que tiene la mayor probabilidad

In [44]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB

In [45]:
data = pd.read_csv("../Datasets/Interview.csv")
data = data.loc[:,'Date of Interview':'Marital Status']

data.dropna(inplace=True)

data

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Have you obtained the necessary permission to start at the required time,Hope there will be no unscheduled meetings,Can I Call you three hours before the interview and follow up on your attendance for the interview,Can I have an alternative number/ desk number. I assure you that I will not trouble you too much,Have you taken a printout of your updated resume. Have you read the JD and understood the same,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status
0,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
1,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
3,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,No,Yes,No,Yes,Yes,Uncertain,No,Single
4,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Yes,No,Yes,Yes,Yes,Uncertain,No,Married
5,13.02.2015,Aon Hewitt,IT Services,Gurgaon,Selenium testing,Routine,Scheduled Walkin,Candidate 6,Male,Gurgaon,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Licensing – RA,Scheduled,Candidate 1228,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1228,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs – RA,Scheduled,Candidate 1229,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1229,07.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Biosimiliars,Scheduled,Candidate 1230,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single
1230,06.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,Biosimiliars,Scheduled,Candidate 1231,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Married
1231,06.05.2016,Pfizer,Pharmaceuticals,Chennai,Niche,generic drugs – RA,Scheduled,Candidate 1232,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Single

In [46]:
X = pd.get_dummies(data)
X

,Date of Interview_02.09.2016,Date of Interview_02.12.2015,Date of Interview_03.04.2015,Date of Interview_04/12/16,Date of Interview_05/02/15,Date of Interview_05/11/2016,Date of Interview_06.02.2016,Date of Interview_06.05.2016,Date of Interview_07.05.2016,Date of Interview_07.06.2016,...,Observed Attendance_NO,Observed Attendance_No,Observed Attendance_No,Observed Attendance_Yes,Observed Attendance_no,Observed Attendance_no,Observed Attendance_yes,Observed Attendance_yes,Marital Status_Married,Marital Status_Single
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
1228,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
1229,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
1230,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
1231,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1

In [47]:
predictors = ['']

In [48]:
prestamos = pd.read_csv("../Datasets/loan_data.csv")
prestamos.drop(['Unnamed: 0'],axis=1,inplace=True)
prestamos

,status,loan_amnt,term,annual_inc,dti,payment_inc_ratio,revol_bal,revol_util,purpose,home_ownership,delinq_2yrs_zero,pub_rec_zero,open_acc,grade,outcome,emp_length,purpose_,home_,emp_len_,borrower_score
0,Charged Off,2500,60 months,30000,1.00,2.39320,1687,9.4,car,RENT,1,1,3,4.8,default,1,major_purchase,RENT,> 1 Year,0.65
1,Charged Off,5600,60 months,40000,5.55,4.57170,5210,32.6,small_business,OWN,1,1,11,1.4,default,5,small_business,OWN,> 1 Year,0.80
2,Charged Off,5375,60 months,15000,18.08,9.71600,9279,36.5,other,RENT,1,1,2,6.0,default,1,other,RENT,> 1 Year,0.60
3,Charged Off,9000,36 months,30000,10.08,12.21520,10452,91.7,debt_consolidation,RENT,1,1,4,4.2,default,1,debt_consolidation,RENT,> 1 Year,0.50
4,Charged Off,10000,36 months,100000,7.06,3.90888,11997,55.5,other,RENT,1,1,14,5.4,default,4,other,RENT,> 1 Year,0.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45337,Fully Paid,8000,36 months,72000,18.97,4.57850,9725,58.2,credit_card,RENT,1,0,9,4.2,paid off,8,credit_card,RENT,> 1 Year,0.35
45338,Fully Paid,2000,36 months,25200,13.24,3.20333,4925,40.7,wedding,MORTGAGE,0,1,13,4.2,paid off,3,other,MORTGAGE,> 1 Year,0.50
45339,Fully Paid,4375,36 months,20000,7.95,9.98460,6574,73.0,debt_consolidation,MORTGAGE,1,1,8,2.4,paid off,1,debt_consolidation,MORTGAGE,> 1 Year,0.55
45340,Fully Paid,8000,36 months,48000,26.91,6.45250,10303,32.4,debt_consolidation,MORTGAGE,1,1,10,5.2,paid off,1,debt_consolidation,MORTGAGE,> 1 Year,0.65
45341,Fully Paid,35000,60 months,100000,7.82,11.87150,16676,91.6,debt_consolidation,MORTGAGE,0,1,13,0.4,paid off,9,debt_consolidation,MORTGAGE,> 1 Year,0.50

In [49]:
predictors = ['purpose_','home_','emp_len_']
outcome = 'outcome'

X = pd.get_dummies(prestamos[predictors])
X

y = prestamos[outcome]

naive_model = MultinomialNB(alpha=0.1,fit_prior=True)
naive_model.fit(X, y)

sample = X.sample(10)
naive_model.predict(sample)

array(['default', 'default', 'paid off', 'paid off', 'default',
       'paid off', 'default', 'paid off', 'paid off', 'paid off'],
      dtype='<U8')

In [50]:
prestamos

,status,loan_amnt,term,annual_inc,dti,payment_inc_ratio,revol_bal,revol_util,purpose,home_ownership,delinq_2yrs_zero,pub_rec_zero,open_acc,grade,outcome,emp_length,purpose_,home_,emp_len_,borrower_score
0,Charged Off,2500,60 months,30000,1.00,2.39320,1687,9.4,car,RENT,1,1,3,4.8,default,1,major_purchase,RENT,> 1 Year,0.65
1,Charged Off,5600,60 months,40000,5.55,4.57170,5210,32.6,small_business,OWN,1,1,11,1.4,default,5,small_business,OWN,> 1 Year,0.80
2,Charged Off,5375,60 months,15000,18.08,9.71600,9279,36.5,other,RENT,1,1,2,6.0,default,1,other,RENT,> 1 Year,0.60
3,Charged Off,9000,36 months,30000,10.08,12.21520,10452,91.7,debt_consolidation,RENT,1,1,4,4.2,default,1,debt_consolidation,RENT,> 1 Year,0.50
4,Charged Off,10000,36 months,100000,7.06,3.90888,11997,55.5,other,RENT,1,1,14,5.4,default,4,other,RENT,> 1 Year,0.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45337,Fully Paid,8000,36 months,72000,18.97,4.57850,9725,58.2,credit_card,RENT,1,0,9,4.2,paid off,8,credit_card,RENT,> 1 Year,0.35
45338,Fully Paid,2000,36 months,25200,13.24,3.20333,4925,40.7,wedding,MORTGAGE,0,1,13,4.2,paid off,3,other,MORTGAGE,> 1 Year,0.50
45339,Fully Paid,4375,36 months,20000,7.95,9.98460,6574,73.0,debt_consolidation,MORTGAGE,1,1,8,2.4,paid off,1,debt_consolidation,MORTGAGE,> 1 Year,0.55
45340,Fully Paid,8000,36 months,48000,26.91,6.45250,10303,32.4,debt_consolidation,MORTGAGE,1,1,10,5.2,paid off,1,debt_consolidation,MORTGAGE,> 1 Year,0.65
45341,Fully Paid,35000,60 months,100000,7.82,11.87150,16676,91.6,debt_consolidation,MORTGAGE,0,1,13,0.4,paid off,9,debt_consolidation,MORTGAGE,> 1 Year,0.50

In [51]:
X

,purpose__credit_card,purpose__debt_consolidation,purpose__home_improvement,purpose__major_purchase,purpose__medical,purpose__other,purpose__small_business,home__MORTGAGE,home__OWN,home__RENT,emp_len__ < 1 Year,emp_len__ > 1 Year
0,0,0,0,1,0,0,0,0,0,1,0,1
1,0,0,0,0,0,0,1,0,1,0,0,1
2,0,0,0,0,0,1,0,0,0,1,0,1
3,0,1,0,0,0,0,0,0,0,1,0,1
4,0,0,0,0,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
45337,1,0,0,0,0,0,0,0,0,1,0,1
45338,0,0,0,0,0,1,0,1,0,0,0,1
45339,0,1,0,0,0,0,0,1,0,0,0,1
45340,0,1,0,0,0,0,0,1,0,0,0,1
45341,0,1,0,0,0,0,0,1,0,0,0,1

In [52]:
sample

,purpose__credit_card,purpose__debt_consolidation,purpose__home_improvement,purpose__major_purchase,purpose__medical,purpose__other,purpose__small_business,home__MORTGAGE,home__OWN,home__RENT,emp_len__ < 1 Year,emp_len__ > 1 Year
13201,0,1,0,0,0,0,0,0,0,1,0,1
6313,0,1,0,0,0,0,0,0,0,1,0,1
8151,0,0,1,0,0,0,0,1,0,0,0,1
4484,0,1,0,0,0,0,0,1,0,0,0,1
39830,0,0,0,0,0,1,0,1,0,0,0,1
42781,1,0,0,0,0,0,0,1,0,0,0,1
43355,0,1,0,0,0,0,0,0,1,0,0,1
4491,1,0,0,0,0,0,0,0,0,1,0,1
21035,0,0,1,0,0,0,0,1,0,0,0,1
39823,0,0,1,0,0,0,0,1,0,0,0,1

In [53]:
naive_model.predict_proba(sample)

array([[0.53665804, 0.46334196],
       [0.53665804, 0.46334196],
       [0.42023163, 0.57976837],
       [0.47463251, 0.52536749],
       [0.50066114, 0.49933886],
       [0.41170228, 0.58829772],
       [0.51347083, 0.48652917],
       [0.47290662, 0.52709338],
       [0.42023163, 0.57976837],
       [0.42023163, 0.57976837]])