In [25]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv("../Datasets/house_sales.csv",delimiter="\t")

data

,DocumentDate,SalePrice,PropertyID,PropertyType,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,...,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction
1,2014-09-16,280000,1000102,Multiplex,2014-09-01,405100,0.930836,300805.0,2,9373,...,3.00,6,7,1991,0,0,70000,229000,98002,False
2,2006-06-16,1000000,1200013,Single Family,2006-06-01,404400,0.929228,1076162.0,1,20156,...,3.75,4,10,2005,0,0,203000,590000,98166,True
3,2007-01-29,745000,1200019,Single Family,2007-01-01,425600,0.977941,761805.0,1,26036,...,1.75,4,8,1947,0,0,183000,275000,98166,False
4,2008-02-25,425000,2800016,Single Family,2008-02-01,418400,0.961397,442065.0,1,8618,...,3.75,5,7,1966,0,0,104000,229000,98168,False
5,2013-03-29,240000,2800024,Single Family,2013-03-01,351600,0.807904,297065.0,1,8620,...,1.75,4,7,1948,0,0,104000,205000,98168,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27057,2011-04-08,325000,9842300710,Single Family,2011-04-01,318700,0.732307,443803.0,1,5468,...,1.75,3,7,1951,0,0,201000,172000,98126,False
27058,2007-09-28,1580000,9845500010,Single Family,2007-09-01,433500,0.996094,1586196.0,1,23914,...,4.50,4,11,2000,0,1,703000,951000,98040,False
27061,2012-07-09,165000,9899200010,Single Family,2012-07-01,325300,0.747472,220744.0,1,11170,...,1.00,4,6,1971,0,0,92000,130000,98055,False
27062,2006-05-26,315000,9900000355,Single Family,2006-05-01,400600,0.920496,342207.0,1,6223,...,2.00,3,7,1939,0,0,103000,212000,98166,False
27063,2007-01-09,465000,9906000035,Single Family,2007-01-01,425600,0.977941,475489.0,1,4400,...,1.50,3,7,1928,0,0,311000,268000,98103,False

In [4]:
predictors = ['SqFtLot','Bedrooms','SqFtFinBasement','Bathrooms']

outcome='AdjSalePrice'

In [5]:
coefficients = []

#4. Repetir el algoritmo n veces
for _ in range(1000):
    #1. Obtener una muestra
    sample = data.sample(1000)
    #2. Ajustar un modelo
    model = LinearRegression()
    model.fit(sample[predictors],sample[outcome])
    #3. Obtenemos los coeficientes y registrarlos
    coefficients.append(model.coef_)


bootstrap_results = pd.DataFrame(coefficients,columns=predictors)

In [6]:
bootstrap_results

      SqFtLot      Bedrooms  SqFtFinBasement      Bathrooms
0    0.585729   2019.399511       136.234881  231149.613215
1    0.997381  12928.610568        42.382002  244818.675652
2    1.922424  -1708.710492       148.661578  214626.637983
3    0.666552  10834.884129        58.813958  244522.182122
4    1.975072    420.776809       135.917851  267486.140476
..        ...           ...              ...            ...
995  0.738091  11539.411281       177.451654  249558.722393
996  1.197412  -1664.698423       102.950872  220617.557399
997  0.997473   7209.124720       146.469860  238375.142992
998  0.651016   5462.262329       129.643155  205584.650967
999  0.711424   7017.443946       168.985020  219120.399807

[1000 rows x 4 columns]

In [7]:
#Confidence interval: 90%
bootstrap_results.SqFtLot.quantile(0.05)

0.4086644648698895

In [8]:
bootstrap_results.SqFtLot.quantile(0.95)

2.36053250937968

In [9]:
# Calcular el error de la predicción: 1000 sqftLot, 3 bedrooms, 500 sqftfinbasement,3 bathrooms

In [24]:
predictions = []
test = pd.DataFrame([[1000,3,500,3]],columns=predictors)

#4. Repetir el algoritmo n veces
for _ in range(1000):
    #1. Obtener una muestra
    sample = data.sample(1000)
    #2. Ajustar un modelo
    model = LinearRegression()
    model.fit(sample[predictors],sample[outcome])



    #3. Hacer una predicción
    predict = model.predict(test)[0]
    #3. Registramos las predicciones
    predictions.append(predict)


predictions = pd.Series(predictions)

print(predictions.quantile(0.025)) # 2.5th percentile
print(predictions.quantile(0.975)) # 97.5th percentile

707046.0751215335
856006.3770367171